.my-card{
    box-shadow: var(--shadow);
margin: 1rem;
border-radius: 0.5rem;
min-width: 350px;

flex:1;


}
.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
 
  flex-wrap: wrap;
    gap: 16px;
}
.my-card p{
    margin-bottom: 10px;
    font-size: 18px;
}
.ant-card-head-title{
    margin:0;
    font-weight: 500;
}